/* =============================================================================
Helper Classes and Mixins
========================================================================== */

	/* MIXINS
       ============================================== */    

   	.selection(@bg:#3297FD,@color:#fff) {
	   	::selection {
				background:@bg;
				color:@color;
			}
			::-moz-selection {
				background:@bg;
				color:@color;
			}
			::-webkit-selection {
				background:@bg;
				color:@color;
			}
		}  

		//Opacidade	
		.opacity(@opacity) {
		  opacity: @opacity / 100;
		  filter: ~"alpha(opacity=@{opacity})";
		}		


		// Box Sizing
	    .boxsizing(@boxmodel: border-box) {
		  -webkit-box-sizing: @boxmodel;
		     -moz-box-sizing: @boxmodel;
		      -ms-box-sizing: @boxmodel;
		          box-sizing: @boxmodel;
		}

		// Arredondar cantos do elemento
		.radius(@radius) {
		  -webkit-border-radius: @radius;
		     -moz-border-radius: @radius;		         
		          border-radius: @radius;
		}

		// Sombra na Box
		.shadow(@shadow) {
		  -webkit-box-shadow: @shadow;
		     -moz-box-shadow: @shadow;
		          box-shadow: @shadow;
		}

	    // Transition
	    .transition(@time: 0.2s, @animate: linear) {	
			-webkit-transition: @time @animate;
			   -moz-transition: @time @animate;		
			    -ms-transition: @time @animate;		
			     -o-transition: @time @animate;
			        transition: @time @animate;   
		}

		.fix(){
			backface-visibility:hidden;
			-webkit-backface-visibility:hidden; /* Chrome and Safari */
			-moz-backface-visibility:hidden; /* Firefox */
			-ms-backface-visibility:hidden; /* Internet Explorer */
		}

		// Transition Delay
		.delay(@time) {	
			-webkit-transition-delay: @time !important;
			   -moz-transition-delay: @time !important;		
			    -ms-transition-delay: @time !important;		
			     -o-transition-delay: @time !important;
			        transition-delay: @time !important;
		}

		// Transformations
		.rotate(@degrees) {
		  -webkit-transform: rotate(@degrees);
		     -moz-transform: rotate(@degrees);
		      -ms-transform: rotate(@degrees);
		       -o-transform: rotate(@degrees);
		          transform: rotate(@degrees);
		}

		.scale(@ratio) {
		  -webkit-transform: scale(@ratio);
		     -moz-transform: scale(@ratio);
		      -ms-transform: scale(@ratio);
		       -o-transform: scale(@ratio);
		          transform: scale(@ratio);
		}
		.translate(@x, @y) {
		  -webkit-transform: translate(@x, @y);
		     -moz-transform: translate(@x, @y);
		      -ms-transform: translate(@x, @y);
		       -o-transform: translate(@x, @y);
		          transform: translate(@x, @y);
		}
		
		// Background
        .bg(@filename, @repeat: no-repeat) {
            background-repeat: @repeat;
            background-image: e(%('url(../../images/%s)', @filename));
             // background-image: e(%('url(img/%s)', @filename));
        }

		// Cor do placeholder 
        .placeholder(@color: inherit, @focuscolor: transparent) {               
            &:-moz-placeholder {                            
              color: @color;                                                
            }
            &::-moz-placeholder {
                    color: @color;  
            }
            &:-ms-input-placeholder {                               
              color: @color;                                                
            }
            &::-webkit-input-placeholder {                  
              color: @color;                                                
            }
            &:focus {
                &:-moz-placeholder {                            
                 	color: @focuscolor;                                           
                }
                &::-moz-placeholder {
					color: @focuscolor;  
                }
                &:-ms-input-placeholder {                               
                 	color: @focuscolor;                                           
                }
                &::-webkit-input-placeholder {                  
					color: @focuscolor;                                           
                }
            }
        }

		.margin(@margin){
			margin-left: @margin;
			&:first-child{
				margin-left: 0;
			}
		}

		// Fix
		.clearfix {
			*zoom: 1;
		  	&:before,
		  	&:after {
			    display: table;
			    content: "";
			  }
			  &:after {
			    clear: both;
			  }
		}	

		// Flutuar elemento para esquerda
		.left {
			float: left !important;
		}

		// Flutuar elemento para direita
		.right {
			float: right !important;
		}				
		
		// Cursor pointer
		.pointer {
			cursor: pointer;
		}	

		// Mudar o cursor para Default quando o elemento já estiver ativo
		.active {
			cursor: default;
		}

		// Mostrar elemento
		.block {
			display: block;
		}
		
		// Esconder Elemento
		.hidden {
			display: none !important;
			visibility: hidden;
		}	

		// Elemento invisivel
		.invisible {
			visibility: hidden;
		}
				
		// Cortar texto caso ultrapasse as dimensões do bloco
		.croptext {			
		 	text-overflow: ellipsis;
		  	  white-space: nowrap;
		  	     overflow: hidden;
		}	

		//Visualmente, o elemento fica escondido para os usuários, mas não para leitores de tela e web spiders
		.visuallyhidden {
		    border: 0;
		    clip: rect(0 0 0 0);
		    height: 1px;
		    width: 1px;
		    margin: -1px;
		    overflow: hidden;
		    padding: 0;
		    position: absolute;
		}

		// Esconder texto (Text-indent)
		.hidetext {			
			text-indent: 100%;
			white-space: nowrap;			
			   overflow: hidden;
		}	

		// Alinhar elemento ao topo e à esquerda com posição absoluta
		.absolute {		  			 
		  	position: absolute;	  		
		}			

		.absolutemask {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}

		// Posição Relativa
		.relative {
			position: relative;
		}