/* =============================================================================
Media Queries
========================================================================== */

@media only screen and (max-width: 1630px) {

}

@media only screen and (max-width: 1300px) {

}

@media only screen and (max-width: 720px) {
	
}