@charset "UTF-8";

// ============================================================
// IMPORT: Importação das outras Folhas de Estilo
// ============================================================

@import "typography.less";
@import "normalize.less";
@import "helpers.less";
@import "print.less";

// ============================================================
// VARIABLES: Definição de variáveis
// ============================================================

// Tipografia

  //@canterb: 'canterbold',serif;


// ============================================================
// STRUCTURE: Definição de tags/ids/classes gerais
// ============================================================

* {
    .boxsizing();
}

a {
    .transition();
}

html,
body {
    height: 100%;
    font-family: arial;
    line-height: 1;
}

body {
    overflow: hidden;
}

h1, h2, h3 {
    font: 22px arial;
}

p {
    margin: 10px 0;
    font: 15px arial;
}




// ============================================================
// KEYFRAMES
// ============================================================

@keyframes rotate360{
    from { .rotate(0); }
    to   { .rotate(360deg); }
}
@-moz-keyframes rotate360{
    from { .rotate(0); }
    to   { .rotate(360deg); }
}
@-ms-keyframes rotate360{
    from { .rotate(0); }
    to   { .rotate(360deg); }
}
@-webkit-keyframes rotate360{
    from { .rotate(0); }
    to   { .rotate(360deg); }
}
@-o-keyframes rotate360{
    from { .rotate(0); }
    to   { .rotate(360deg); }
}

@-webkit-keyframes blackout {
    0% { border-width: 3px; }
    100% { border-width: 24px; }    
}
@-moz-keyframes blackout {
    0% { border-width: 3px; }
    100% { border-width: 24px; }    
}
@-ms-keyframes blackout {
    0% { border-width: 3px; }
    100% { border-width: 24px; }    
}
@-o-keyframes blackout {
    0% { border-width: 3px; }
    100% { border-width: 24px; }    
}
@keyframes blackout {
    0% { border-width: 3px; }
    100% { border-width: 24px; }    
}




// ============================================================
// MEDIA-QUERIES: Estilo para Layout Fluído e/ou Responsivo
// ============================================================

@import "media-queries.less";